<h2>Login to Fwitter</h2>
<<<<<<< HEAD
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>
=======
>>>>>>> dd67ab370952111fa243760e111451dca3e4517b
